@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .formLabel
    {
        font-size: 16px;
        font-weight: bold;
        color: #4e4a4a;
        margin-right: 10px;
    }

    .formInput
    {
        height:35px;
        width:300px;
        border: 1px solid #4e4a4a;
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
        font-size: 14px;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    .headerImg
    {
      width:160px;
      height:60px;
      margin:25px 10px 25px 10px;
    }
  }